.header-logo{

    max-width: 135px; 
    height: auto;
  }

  #header{

    background-color: white !important;
  }

 .nav-item a{

    color: #fe544b !important;
    font-weight: 500;
 }

 .nav-pills{

    margin-right: 25px !important;
 }
